.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
<<<<<<< HEAD
  background-color: white;
=======
  background-color: #282c34;
>>>>>>> a5109ccaa3d6fb4854d0eea91e48d9e5cf701388
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
<<<<<<< HEAD
  color: #393e46;
}

.App-link {
  color: #55ae95;
}

.span {
  color: #55ae95;
  font-weight: 15px;
}
=======
  color: white;
}

.App-link {
  color: #09d3ac;
}
>>>>>>> a5109ccaa3d6fb4854d0eea91e48d9e5cf701388
