* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25em;
  --secSpacing: 0.20em;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

$large: "only screen and (max-width : 1370px)";
$medium: "only screen and (max-width : 768px)";
$small: "only screen and (max-width : 430px)";

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Advent Pro", sans-serif !important;
  letter-spacing: var(--mainSpacing);
  line-height: 1.4;

}

h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

.footer {
  width: 100%;
  position: absolute;
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainGrey);
  font-family: "Advent Pro", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.4;
  letter-spacing: var(--mainSpacing);;
  align-items: center;
  text-align: center;
}

.scroll-down {
  position: absolute;
  max-width: 100%;
  width: 30px;
  height: 80px;
  // background: url("/src/images/scroll.svg") no-repeat center;
  background-size: 50px;
  padding-bottom: 50px;
  animation: hovering 1s ease-in-out infinite;
  cursor: pointer;
}

.customLanding {
  max-width: 100%;
  text-align: center;
}

.landing {
  text-align: center;
}

.landing-video {
  width: 100%;
  align-content: center;
}

// Fin de l'onglet custom

.pro-ref-logo {
  width: 150px;
  height: 250px;
  padding-bottom: 2vh;
  /* z-index: 99 !important; */
}

.btt-arrow {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.brand-tm {
  background-size: 150px;
  margin-bottom: 42px;
  text-decoration: none;
  cursor: default;
}

.footer-legalsCap{
  color: var(--primaryColor)!important;
}

.footer-legals {
  margin-top: .2vh;
  padding-bottom: .4vh;
}

.footer-legals-ln {
  font-size: smaller;
  font-family: "Advent Pro", sans-serif !important;
  font-weight: 300 !important;
  margin-bottom: 10px !important;
  text-decoration: none !important;
  color: var(--mainBlack);
}

.footer-legals-ln:hover {
  color: var(--primaryColor) !important;
}

.footer-socialCap {
  margin-top: 20px;
  font-family: "Advent Pro", sans-serif !important;
  font-weight: 300 !important;
  margin-bottom: 10px !important;
}

.footer-social {
  text-decoration: none;
  height: 50px;
  width: 50px;
  color: var(--primaryColor);
}

.footer-social:hover {
    color: var(--mainBlack) !important;
}

/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 94px;
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(247,247,247, 0.98);
  z-index: 1;
}
.nav-header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  margin-left: -2em !important;
  padding-right: 2vh !important;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  margin-top: -12px !important;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.nav-logoLink {
  text-align: right;
  width: 50%;
}

.loginbtn {
  color: var(--primaryColor) !important;
  margin-left: 0.5vh;
  padding-top: 10px;
  font-size: 14px;

  &:hover {
    color: var(--mainBlack) !important;

  }
}

.btn {
  cursor: pointer;
  z-index: 99 !important;
}

.cart{
  width: 70px;
  margin-left: 26%;
  font-size: 23.5px;
  color: var(--primaryColor);
  margin-top: 0.8em;
  cursor: pointer;

  &:hover {
    color: var(--mainBlack) !important;

  }
}

.show-nav {
  margin-top: 17px !important;
  height: 320px;
  text-align: center;
  background: rgba(247,247,247, 0.98);
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none !important;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    padding-top: 4.5vh !important;
    height: auto;
    display: flex;
    margin-left: 0.5rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

/* end of navbar */
/* Hero */
.defaultHero,
.produitsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.produitsHero {
  background-image: url("./images/requinsonshore.jpeg");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--offWhite);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured produits */

.featured-produits {
  padding: 5rem 0;
}
.featured-produits-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-produits-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-produits-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf produits */
/* produit */
.produit {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.produit:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.qui {
  margin: 2vh 6vh 1vh 6vh;
  padding-bottom: 2vh;
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 0.10em;

  p {
    padding-bottom: 2vh;
  }

  a {
    text-decoration: none;
    color: var(--primaryColor);
    }
}

.shoesone-img{
  position: relative;
  margin-top: 80px;
}


.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: left;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--secSpacing);
}
.produit-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.produit-discount {
  color: #ff726f;
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: var(--secSpacing);
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .produit-link {
  transform: translate(-50%, -50%) scale(1);
}
.produit-info {
  background: var(--offWhite);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 499;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 0.10em;
}
/* end of produit  */
/* single produit */

.single-produit {
  padding: 5rem 0 0 0;
}
.single-produit-images {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-produit-images img {
  width: 100%;
  display: block;
}
.single-produit-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.eu-emoji{
  margin-top: -2px;
  margin-left: 0.5em;
  font-size: 20px;
  position: absolute;
}

.stockNot{
  color: rgb(47, 255, 134);
  font-weight: 400;
  letter-spacing: var(--secSpacing);
}

.info h6 {
  font-weight: 300;
}
.produit-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.produit-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 992px) {
  .single-produit-images,
  .single-produit-info,
  .produit-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-produit-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single produit */
/* produitlist */
.produitslist {
  padding: 5rem 0;
}
.produitslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .produitslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .produitslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of produitlist */
/*  produits fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of produits fitler*/

.cleaningfeats{
  text-align: center;
//     display: flex !important;
//     flex-wrap: wrap;
//     justify-content: space-between;
  
//     &__item {
//      display: flex;
//      flex-basis: calc(33.3% - 30px);
//      margin-bottom: 60px;
//      border-right: 1px dotted #fff;
//      box-sizing: border-box;
//      padding: 20px 30px 20px 0;
     
//      @media #{$small} {
//        border: none;
//      }
  
//      &:nth-of-type {
//        border-right: 100px;
//      }
//     }
  
//     &__name {
//       padding-top: 1em;
//       font-family: "Advent Pro", sans-serif !important;
//       letter-spacing: var(--mainSpacing);
//       line-height: 1.4;
//       font-weight: 450;
//     }
  
//     &__thumbnail {
//      font-size: 95px;
//      line-height: 100px;
//     }
  
//     &__img {
//       width: 190px;
//       height: 180px;
//     }
    
//     &__description {
//       font-size: 23px !important;
//       text-transform: uppercase;
//     }
  
//     &__details {
//       display: flex;
//       flex-direction: column;
//       padding-top: 2em;
//       margin-left: 30px;
//     }
  
//     &__disponible {
//       flex-grow: 1;
//       font-family: "Advent Pro", sans-serif !important;
//       letter-spacing: var(--mainSpacing);
//       line-height: 1.4;
//       font-size: 20px;
//     }
  
//     &__prix{
//       flex-grow: 1;
//       font-size: 15px;
//     }
      
//   }


// /* legals articles */
}
.cgv p {
  
  margin: 2vh 6vh 1vh 6vh;
  padding-bottom: 2vh;
  text-align: center justify;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 0.10em;

  a {
    text-decoration: none;
    color: var(--primaryColor);
  }
}

.faqs p{
  
  margin: 0.5vh 6vh 0vh 6vh;
  padding-bottom: 2vh;
  text-align: center justify;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 0.10em;

  a {
    text-decoration: none;
    color: var(--primaryColor);
  }

  span {
    text-decoration: underline;
  }

  strong {
    color: var(--primaryColor);
  }
}

.menleg p{
  max-width: 100%;
  margin: 2vh 6vh 1vh 6vh;
  padding-bottom: 2vh;
  text-align: center justify;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 0.10em;

  a {
    text-decoration: none;
    color: var(--primaryColor);
  }
}

.livraison p {
    margin: 0.5vh 6vh 1vh 6vh;
    padding-bottom: 2vh;
    text-align: center justify;
    font-family: "Advent Pro", sans-serif;
    letter-spacing: 0.10em;
  
    a {
      text-decoration: none;
      color: var(--primaryColor);
    }
}
/* end of legals articles */
